<div class="card p-3">
    <div class="card-body disabled">
        <h3 class="card-title">{{ offer.name }} <a href="{{ path('offer_edit', {"offer": offer.id}) }}">{% include 'components/pencil.html.twig' %}</a></h3>
        <div class="logo_feed" style="background-image: url('{{ asset('content/img/logo/' ~ offer.logo) }}')"></div>
        <div class="offer_term">
            <h6 class="title">Сумма</h6>
            <p class="term"><span>До {{ offer.maxLoanAmount }}</span> рублей</p>
        </div>
        <div class="offer_term">
            <h6 class="title">Срок</h6>
            <p class="term">От <span>{{ offer.minLoanPeriodDays }}</span> до <span>{{ offer.maxLoanPeriodDays }}</span> дней</p>
        </div>
        <div class="offer_term">
            <h6 class="title">Ставка</h6>
            <p class="term"><span>{{ offer.interestRate }}</span> %</p>
        </div>
        <div class="give_money">
            <a class="btn link default_btn" href="{{ offer.url }}">Получить деньги</a>
        </div>
    </div>
</div>