<div class="offer_card shadow text-center m-2 p-3 row row-cols-1">
    <div class="col mb-2 position-relative">
        <span class="offer_name">{{ offer.name }}
            {% if edit_action is defined %}
                <a class="position-absolute pl-1" href="{{ path('admin_offer_edit', {"offer": offer.id}) }}">{% include 'components/pencil.html.twig' %}</a>
            {% endif %}
        </span>
    </div>
    <div class="col logo_feed mt-2 mb-2"
         style="background-image: url('{{ asset('content/img/admin/logo/' ~ offer.logo) }}')">
    </div>
    <div class="col">
        <span class="term">До <strong>{{ offer.maxLoanAmount }}</strong> рублей</span>
    </div>
    <div class="col">
        <span class="term">От <strong>{{ offer.minLoanPeriodDays }}</strong> до <strong>{{ offer.maxLoanPeriodDays }}</strong> дней</span>
    </div>
    <div class="col mb-2">
        <span class="term">От <strong>{{ offer.interestRate }}%</strong> в день</span>
    </div>
    <div class="col text-center p-2">
        <a class="btn loan-btn gradient-green"
           type="button"
           href="{{ offer.url }}"
           style="font-size: small"
        >Получить деньги</a>
    </div>
</div>