{% embed 'components/modal.html.twig' with {'modal_id': modal_id } %}
    {% block body %}
        <div id="modal_body_phone_verify_request" class="row row-cols-1">
            <div class="col p-2">
                <h5>Введите номер телефона</h5>

            </div>
            <div class="col p-2">
                <p>Укажите номер телефона, на который можно отправить SMS сообщение</p>
            </div>
            <div class="col p-2 row row-cols-2 g-0 justify-content-center">
                <div class="col-auto">
                    <p class="text-black">Авторизация через:</p>
                </div>
                <div class="col-auto">
                    <a id="lnk-vk-bot" target="_blank" href="https://vk.me/topbotzaimov"><img style="height: 30px; width: 30px;" class="img-fluid" src="{{ asset('content/img/loan/vk.png') }}"></a>
                </div>
            </div>
            <div class="col p-2">
                <input type="text" id="phone" name="phone" class="form-control-lg loan_form_input w-75 phone_mask" placeholder="+7(  )">
            </div>
            <div class="col p-2">
                <button id="btn_send_sms" data-target="#{{ modal_id }}" type="button" class="loan-btn-sm gradient-green m-2">Отправить SMS код</button>
            </div>
            <div class="col p-2">
                <p class="mb-0">Заполняя форму связи, Вы соглашаетесь с условиями нашего <a target="_self" href="{{ path('file_download', {'fileName': 'dogovor_oferta_zaymirubli.docx'}) }}">договора-оферты</a></p>
            </div>
        </div>
        <div id="modal_body_code" class="row row-cols-1 d-none justify-content-center g-3">
            <div class="col">
                <p class="text-black">Введите код из смс, который мы отправили вам на номер:</p>
            </div>
            <div class="col">
                <p id="phone_number"></p>
            </div>
            <div class="col-auto">
                <form name="code_verify" method="POST" action="{{ path('phone_code_verify') }}">
                    <div id="code_row" class="row row-cols-4 g-2">
                        {% for i in 1..4 %}
                            <div class="col">
                                <input class="code code_primary" type="number" name="code[]" maxLength="1" size="1" inputmode="numeric" pattern="[0-9]*" />
                            </div>
                        {% endfor %}
                        <input type="hidden" name="phone">
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block style %}
        {{ parent() }}
        <style>
            .small-text {
                font-family: Inter-600;
                font-size: 2vw;
            }
            .code {
                border-radius: var(--border-radius);
                border: 0;
                outline: 0;
                text-align: center;
                font-size: var(--h5-size);
                color: #616161;
                line-height: 2;
                width: 2em;
            }

            .code_primary {
                background: #c9d1d5;
            }

            .code_success {
                background: #00A02B;
                color: white;
            }
        </style>
    {% endblock %}
{% endembed %}