{% block stylesheets %}
    <style>
        body {
            background-color: skyblue;
            background-image: url({{ asset('content/img/admin/money_wallp.jpg') }});
        }
    </style>
{% endblock %}
{% extends 'base.html.twig' %}
    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Займирубли Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link active" aria-current="page" href="#">Home</a>#}
                        {#                        </li>#}
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link" href="#">Link</a>#}
                        {#                        </li>#}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Офис
                            </a>x
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('admin_offer_list') }}">Офферы</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_push_list') }}">Пуш уведомления</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_checker_relations_list') }}">Маппинг офферов чеккеров</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_sms_queues_list') }}">Рассылки</a></li>
                            </ul>
                        </li>
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link disabled">Disabled</a>#}
                        {#                        </li>#}
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="card mt-4">
                <h5 class="card-header">{{ title }}</h5>
                <div class="card-body">
                    <div class="mb-4">
                        {% block card_button_bar %}{% endblock %}
                    </div>
                    <div class="m-2">
                        {% block card_body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}