{% extends '@loan/base.html.twig' %}
{% set title = 'Спасибо' %}
{% block container %}
{{ parent() }}
    <div class="row mt-2 align-items-center justify-content-end">
        <div class="col-5">
        </div>
        <div class="col-1">
            <img class="" src="{{ asset('content/img/loan/w.png') }}">
        </div>
        <div class="col-5">
        </div>
        <div class="col-1">
            <img src="{{ asset('content/img/loan/circle.png') }}">
        </div>
    </div>
    <div class="row mt-2 align-items-center justify-content-between">
        <div class="col-4">
            <h1>Спасибо</h1>
            <p>скоро вы сможете взять займ с самым выгодным предложением, подбираем его для вас</p>
        </div>
        <div class="col-4" style="padding-left: 3em;">
            <img src="{{ asset('content/img/loan/counter.png') }}">
        </div>
        <div class="col-4">
            <p>осталось секунд</p>
            <h1>3</h1>
        </div>
    </div>
    <div class="row mt-4 align-items-center justify-content-end">
        <div class="col-4">
        </div>
        <div class="col-4" style="padding-left: 3em">
            <img src="{{ asset('content/img/loan/tri.png') }}">
        </div>
        <div class="col-3">
        </div>
        <div class="col-1">
            <img src="{{ asset('content/img/loan/add.png') }}">
        </div>
    </div>
{% endblock %}
