{% extends '@admin/base.html.twig' %}
{% set title = 'Мапинг офферов' %}
{% block card_button_bar %}
    <a href="{{ path('admin_checker_relations_upsert') }}" class="btn btn-primary">Добавить</a>
{% endblock %}
{% block card_body %}
    {% if entities is not empty %}
        <div class="table-responsive">
            <table class="table table-hover table-borderless">
                <thead>
                <tr>
                    <th>Добавлен</th>
                    <th>ID оффера</th>
                    <th>Наименование</th>
                    <th>Чеккер</th>
                    <th>ID в чеккере</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr onclick="window.location.replace('{{ path('admin_checker_relations_upsert', {'relation' : entity.id}) }}')">
                        <td>{{ entity.addedAt|date }}</td>
                        <td>{{ entity.offer.id }}</td>
                        <td>{{ entity.offer.name }}</td>
                        <td>{{ entity.checker }}</td>
                        <td>{{ entity.externalOfferId }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row text-center">
            <p>Нет записей для отображения</p>
        </div>
    {% endif %}
{% endblock %}
