<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('content/img/favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/loan/fonts.css') }}">
        {% endblock %}
        {% if js_modules is not defined %}
            {% set js_modules = [] %}
        {% endif %}

        <script>
            window.env = "{{ app.environment }}";
            window.counter_id = 97288748;
        </script>

        {% block javascripts %}
            {% block importmap %}{{ importmap(['jquery_provider','app']|merge(js_modules)) }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
