{% extends '@loan/base.html.twig' %}
{% set js_modules = [
    'loan_form',
    'loan_autocomplete',
    'loan_offers',
    'loan_push',
    'loan_phone'
] %}
{% set title = 'Получить займ' %}
{% set input_row_style = 'row row-cols-lg-2 row-cols-sm-1 mt-2 align-items-center' %}
{% set input_style = 'col mb-sm-4 mb-lg-0' %}
{% block container %}
    {% embed '@loan/form/wrap.html.twig' with {'hide' : verified == false } %}
        {% block header %}
            <div class="col order-lg-first order-sm-last text-start">
                <h3>Для получения займа <br> заполните анкету</h3>
            </div>
            <div class="col order-lg-last order-sm-first text-end">
                <button id="btn_step" type="button" class="loan-btn gradient-green">Шаг <span>1</span></button>
            </div>
        {% endblock %}
        {% block body %}
            {% embed '@loan/form/step.html.twig' with {
                'button': {'id': 'btn_from_sbm', 'text': 'Получить займ'},
                'step': {'id': 'form_step_1'},
            } %}
                {% block content %}
                    <div class="{{ input_row_style }}">
                        <div class="{{ input_style }}">
                            {{ form_row(form.surname) }}
                        </div>
                        <div class="{{ input_style }}">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="{{ input_row_style }}">
                        <div class="{{ input_style }}">
                            {{ form_row(form.patron) }}
                        </div>
                        <div class="{{ input_style }}">
                            {{ form_row(form.birthPlace) }}
                        </div>
                    </div>
                    <div class="{{ input_row_style }}">
                        <div class="{{ input_style }}">
                            {{ form_row(form.birth) }}
                        </div>
                        <div class="{{ input_style }}">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
    {% include '@loan/form/thanks.html.twig' with {'hidden': true }%}
    <div id="offer_list"></div>
{% endblock %}

