<div id="form_step_passport" class="collapse">
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.passportSeries) }}
        </div>
        <div class="col">
            {{ form_row(form.passportNumber) }}
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.departmentCode) }}
        </div>
        <div class="col">
            {{ form_row(form.issueDate) }}
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.department) }}
        </div>
        <div class="col">
            {{ form_row(form.birthPlace) }}
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.regPlace) }}
        </div>
    </div>
    <div class="row mt-4 align-items-center">
        <div class="col-4"></div>
        <div class="col-4">
            <a id="btn_from_sbm" type="button" class="loan-btn gradient-green">Получить займ</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>