<div id="form_step_personal_data">
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.surname) }}
        </div>
        <div class="col">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.patron) }}
        </div>
        <div class="col">
            {{ form_row(form.birthPlace) }}
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col">
            {{ form_row(form.birth) }}
        </div>
        <div class="col">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row mt-4 align-items-center justify-content-center">
        <div class="col-md-auto">
            <a id="btn_continue" type="button" class="loan-btn gradient-green">Продолжить</a>
        </div>
    </div>
</div>