<div id="thanks" {{ hidden is defined and hidden == true ? 'style="display: none;"' : '' }}>
    <div class="row row-cols-3 row-cols-sm-2 mt-2 p-sm-3 align-items-center justify-content-center g-sm-4 position-relative">
            <div class="col col-sm-auto order-sm-1 order-lg-2">
                <img src="{{ asset('content/img/loan/counter.png') }}">
            </div>
            <div class="col col-sm-auto order-sm-2  order-lg-3 row-cols-1">
                <div class="col"><p>осталось секунд:</p></div>
                <div class="col"><h1 class="text-green" id="seconds_left">3</h1></div>
            </div>
{#            <div class="position-absolute top-0 start-0">#}
{#                <img class="" src="{{ asset('content/img/loan/w.png') }}">#}
{#            </div>#}
{#            <div class="position-absolute top-0 end-0">#}
{#                <img src="{{ asset('content/img/loan/circle.png') }}">#}
{#            </div>#}
{#            <div class="position-absolute top-50 start-0">#}
{#                <img src="{{ asset('content/img/loan/tri.png') }}">#}
{#            </div>#}
{#            <div class="position-absolute top-50 end-0">#}
{#                <img src="{{ asset('content/img/loan/add.png') }}">#}
{#            </div>#}
        <div class="col col-sm-auto order-sm-3 order-lg-1" style="z-index: 1;">
            <h1 class="text-green">Спасибо</h1>
            <div style="margin-left: 1em"><p>скоро вы сможете взять займ с самым выгодным предложением, подбираем его
                    для вас</p></div>
        </div>
    </div>
</div>